<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<script type="text/javascript">

</script>
    <h1>登录</h1>
    <form action="" method="post" class="form" role="form">
        {{ form.hidden_tag() }}

        {% if form.errors.username %}
        <div class="form-group has-error required">
            {{ form.username.label(class="control-label") | safe }}
            {{ form.username(class="form-control", required=True) }}
            {% for error in form.errors.username %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        {% else %}
        <div class="form-group required">
            {{ form.username.label(class="control-label") | safe }}
            {{ form.username(class="form-control", required=True) }}
        </div>
        {% endif %}

        {% if form.errors.password %}
        <div class="form-group has-error required">
            {{ form.password.label(class="control-label") | safe }}
            {{ form.password(class="form-control", required=True) }}
            {% for error in form.errors.password %}
                <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        {% else %}
        <div class="form-group required">
            {{ form.password.label(class="control-label") | safe }}
            {{ form.password(class="form-control", required=True) }}
        </div>
        {% endif %}
        <div class="form-group">
            {{ form.remember }} 记住我
        </div>
        {{ form.submit(class="btn btn-info submit") }}
    </form>
{% endblock %}